$base-color: #b58f5a;
$base-darker: #7e643f;

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;

    :hover {
        text-decoration: none;
        color: inherit;
    }

    :visited {
        color: inherit;
    }
}

/* HEADER */
header {
    background-color: #282B28;
    height: auto;

    .logo-phone-container {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    
        .logo {
            border-radius: 15px;
        }
    
        aside {
            margin-top: 1.9em;
            text-align: right;
        }
        
        .phone {
            padding: 0.6em;
            font-size: 1.4em;
            margin-top: 0.7em;
            border: solid 1px white;
            border-radius: 0.9em;
            margin-right: 0.4em;
            font-family: 'Cabin', sans-serif;
            color: white;
            font-weight: 600;
        }
        
        .phone:hover {
            color: white;
            background-color: $base-color;
            border-color: $base-color;
        }    
    }
}

nav {
    display: flex;
    flex-direction: row;
    background-color: $base-color;
    height: 3em;
    padding-top: 0.2em;

    ul {
        display: inline-flex;
        padding-left: 0;
        padding-right: 0;
    }

    li {
        padding: 0.5em;
        list-style-type: none;
        color: white;
        font-weight: 600;
        margin: 0;

        :hover {
            color: inherit;
            border-bottom: solid 5px $base-darker;
            padding-bottom: 0.55em;
        }
    }
}

/* MAIN CONTENT */
main {
    background-color: white;
    height: 50em;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1400px) {
    header {
        .logo-phone-container {
            aside {
                margin-top: 2.2em;
            }
            .phone {
                font-size: 1.1em;
                padding: 0.4em;
            }
        }
    }
}