/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;

    :hover {
        text-decoration: none;
        color: inherit;
    }

    :visited {
        color: inherit;
    }
}

/* HEADER */
header {
    background-color: black;
    height: auto;
}

.logo-phone-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .logo {
        border-radius: 15px;
    }

    aside {
        margin-top: 1.9em;
        text-align: right;
    }
    
    .phone {
        padding: 0.6em;
        font-size: 1.4em;
        margin-top: 0.7em;
        border: dashed 1px white;
        border-radius: 0.9em;
        margin-right: 0.4em;
        font-family: 'Cabin', sans-serif;
        color: white;
        font-weight: 600;
    }
    
    .phone:hover {
        color: #b58f5a;
    }    
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #b58f5a;
    height: 3em;
    padding-top: 0.2em;

    ul {
        display: inline-flex;
        padding-left: 0;
        padding-right: 0;
    }

    li {
        padding: 0.5em;
        list-style-type: none;
        color: white;
        font-weight: 600;
        margin: 0;

        :hover {
            color: inherit;
            border-bottom: solid 5px #7e643f;
            padding-bottom: 0.55em;
            transition: ease-in-out .1s;
        }
    }
}

/* MAIN CONTENT */

main {
    background-color: white;
    height: 50em;
}
